# PostgreSQL Database Configuration
DB_NAME=nst_sdc_portal
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432

# Django Secret Key
SECRET_KEY=django-insecure-5f^c9&s0wbwufjx-9=!9fdhtd@70ppisc1$a@8x*6=pvaqq0bm
